@model TeamCityBuildChanges.Output.ChangeManifest 

<div>
    @if (Model.ChangeDetails.Any())
    {
        <table>
            <tr>
                <td>VCS Version</td>
                <td>Commit Comment</td>
            </tr>
            @foreach (var change in Model.ChangeDetails)
            {
                <tr>
                    <td>@change.Id</td>
                    <td>@change.Comment</td>
                </tr>
            }
        </table>
    }
</div>
 <div>
    @if (Model.IssueDetails.Any())
    {
        <table>
            <tr>
                <td>Issue ID</td>
                <td>Status</td>
                <td>Created</td>
            </tr>
            @foreach (var issue in Model.IssueDetails)
            {
                <tr>
                    <td>@issue.Id</td>
                    <td>@issue.Status</td>
                    <td>@issue.Created</td>
                </tr>
            }
        </table>
    }
</div>