@model TeamCityBuildChanges.Output.ChangeManifest 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<style>
    table{
  border: 0px solid black;
  border-spacing: 0px;
}

table thead tr{
  font-family: Arial, monospace;
  font-size: 14px;
}

table thead tr th{
  border-bottom: 2px solid black;
  border-top: 1px solid black;
  margin: 0px;
  padding: 2px;
  background-color: #cccccc;
}

table tr {
  font-family: arial, monospace;
  color: black;
  font-size:12px;
  background-color: white;
}

table tr.odd {
  background-color: #AAAAAA;
}

table tr td, th{
  border-bottom: 1px solid black;
  padding: 2px;
}

a:link{
  font-family:arial, monospace;
  text-decoration: none;
  color: teal;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color:black;
  text-decoration: none;
}

</style>

<html>
    <head>
        <title>TeamCity Build Change Manifest</title>
    </head>
    <body>
        <div>
            <table>
                <tr>
                    <th>Build Configuration</th>
                    <th>Reference Build Configuration</th>
                    <th>From Version</th>
                    <th>To Version</th>
                    <th>Generation Date</th>
                </tr>
                <tr>
                    <td>@Model.BuildConfiguration.Name</td>
                    <td>@Model.ReferenceBuildConfiguration.Name</td>
                    <td>@Model.FromVersion</td>
                    <td>@Model.ToVersion</td>
                    <td>@Model.Generated.ToString()</td>
                </tr>
            </table>
        </div>
        <br/>
        <div>
            @if (Model.ChangeDetails.Any())
            {
                <table>
                    <tr>
                        <th>VCS Version</th>
                        <th>Commit Comment</th>
                    </tr>
                    @foreach (var change in Model.ChangeDetails)
                    {
                        <tr>
                            <td>@change.Id</td>
                            <td>@change.Comment</td>
                        </tr>
                    }
                </table>
            }
        </div>
        <br />
        <div>
            @if (Model.IssueDetails.Any())
            {
                <table>
                    <tr>
                        <th>Issue ID</th>
                        <th>Summary</th>
                        <th>Status</th>
                        <th>Created</th>
                    </tr>
                    @foreach (var issue in Model.IssueDetails)
                    {
                        <tr>
                            <td><a href="@issue.Url">@issue.Id</a></td>
                            <td>@issue.Summary</td>
                            <td>@issue.Status</td>
                            <td>@issue.Created</td>
                        </tr>
                    }
                </table>
            }
        </div>
    </body>
</html>